################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Passenger/obj
/Passenger.Tests.EndToEnd/obj
/Passenger.Tests/obj
/Passenger.Infrastructure/obj
/Passenger.Api/obj
/.vs/Passenger/v16
/.vs/Passenger/DesignTimeBuild
/.vs/Passenger/config
/Passenger/bin/Debug/netstandard2.0
/Passenger.Api/bin/Debug/netcoreapp3.1
/Passenger.Infrastructure/bin/Debug/netstandard2.0
/Passenger.Tests/bin/Debug/netcoreapp3.1
/Passenger.Tests.EndToEnd/bin/Debug/netcoreapp3.1
/.vs
/.idea/.idea.Passenger/.idea
/Passenger/bin/Release/netstandard2.0
/Passenger.Infrastructure/bin/Release/netstandard2.0
/Passenger.Tests/bin/Release/netcoreapp3.1
/Passenger.Tests.EndToEnd/bin/Release/netcoreapp3.1
